# Python
__pycache__/

# Temporary environment
/nexus-align/

# Temporary configs
/*.yaml

# Test and logs
test/
logs/
wandb/
test.sh
/test*

# Distribution / packaging
*.egg-info/

# VSCode
settings.json

# Else
.ruff_cache/
